body {
    margin: 0;
    background-color: gray;
}

.battleField {
    border-bottom: 5px solid black;
    width: 100%;
    height: 500px;
}

.character {
    position: relative;
    font-size: 70px;
}

.coin {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid darkorange;
    left: 400px;
    top: 390px;
}

.coin div {
    width: 15px;
    height: 50px;
    background-color: orange;
    border-radius: 5px;
}